h1{
    color: red;
    font-size: 86px;
}

h2{
    color: blue;
    font-size: 56px;
}
p{
    color: orange;
    font-size: 43px;
}

a{
    color: green;
    font-size: 29px;
}

li{
    color:purple;
    font-size: 39px;
}